<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>todo</title>

        <!-- DEPENDENCIES -->

        <script src="/static/bower_components/react/react.js"></script>
        <script src="/static/bower_components/react/JSXTransformer.js"></script>
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/flux/dist/Flux.js"></script>

        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/bower_components/pure/pure.css" />

        <!-- COMPONENTS -->
        <script type="text/jsx" src="/static/js/actions/Actions.js"></script>
        <script type="text/jsx" src="/static/js/stores/Store.js"></script>
        <script type="text/jsx" src="/static/js/components/Login.js"></script>
        <script type="text/jsx" src="/static/js/components/LoginToFriends.js"></script>

        <script type="text/jsx" src="/static/js/components/Friend.js"></script>
        <script type="text/jsx" src="/static/js/components/FriendList.js"></script>
        <script type="text/jsx" src="/static/js/components/Thumbnail.js"></script>

        <script type="text/jsx" src="/static/js/components/Results.js"></script>

        <!-- APP -->

        <script type="text/jsx" src="/static/js/components/App.js"></script>

    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '130652690619615',
                    status     : true,
                    cookie     : true,
                    xfbml      : true,
                    oauth      : true,
                });
                FB.getLoginStatus(function(response) {
                    if(response.status === "connected") {
                        console.log("connected") // redirect
                    }
                    else if(response.status === "not_authorized") {
                        console.log("not authorized") // don't do anything
                    }
                    else {
                        //not logged in
                        console.log("not logged in") // do nothing
                    }
                })
                FB.Event.subscribe('auth.login', function() {
                    console.log("logged in");
                });
            };
            (function(d){
            var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            d.getElementsByTagName('head')[0].appendChild(js);
            }(document));

        </script>
        <div class="fb-login-button" onclick="">Login with Facebook</div>
        <div id="app"></div>
    </body>
</html>
