/*FRIENDS PAGE*/

body {
	background-color: #e74c3c;
}

h1, h2, h3, h4, h5, p {
	color: white;
}

.circle {
	width: 250px;
	height: 250px;
	border-radius: 1000px;
	background-color: white;
	margin: 10px 10px 10px 10px;
	background-image: url("../fax.gif");
	background-position: center;
}

.friend {
	background-color: #e74c3c;
}

.padding {
	padding: 5px 5px 5px 5px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.text-align-left {
	text-align: left;
}
